<div fxFlex fxLayout="column" fxLayoutAlign="center start" class="story__content">
    <h3 class="heading-3 mb-sm">Happy Customers</h3>
    <h2 class="heading-2 heading-2--dark mb-md">&ldquo;The best decision of our live&rdquo;</h2>
    <p class="story__text">Ipsum laboriosam possimus porro non nostrum! Repellat culpa corrupti voluptatibus accusamus iste tempore. Perspiciatis tenetur doloribus vitae sequi eum? Error illo quibusdam dolores illum placeat. Dicta quod quis quisquam ut</p>
    <button class="btn">Find your own home</button>
</div>
