@import "../../../assets/sass/_base.scss";

.story {
    &__content {
        background-color: $color-grey-light-1;
        padding: 6rem 8vw;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;

        margin-bottom: 4rem;
    }
}
