<div
        fxFlex
        gdAlignColumns="center center"
        gdColumns="repeat(6, 1fr)"
        gdRows="repeat(6, 1fr)"
        class="story__pictures">
    <img
        gdColumn.md="1/5"
        gdRow.md="1/-1"

        gdColumn="2/6"
        gdRow="2/6"
        class="story__img--1"
        src="./assets/img/story-1.jpeg"
        alt="Couple with new house">
    <img
        gdRow.md="1/-1"

        gdRow="4/6"
        gdColumn="4/7"
        class="story__img--2"
        src="./assets/img/story-2.jpeg"
        alt="New house">
</div>
