@import "../../../assets/sass/_base.scss";

.story {

    &__pictures {
        background-color: $color-primary;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../../../assets/img/back.jpg);
        background-size: cover;

        @media only screen and (max-width: $bp-medium) {
            padding: 6rem;
        }
    }

    &__img--1 {
        width: 100%;
        box-shadow: 0 2rem 5rem rgba(#000, .1);
    }

    &__img--2 {
        width: 115%;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .2);

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }
    }
}
