<header
           fxFlex
           gdGap="1.5rem"
           gdAlignRows="center"
           gdColumns="minmax(min-content,max-content)"
           gdRows="1fr min-content minmax(6rem,min-content) 1fr"
           class="header">
    <img
        gdGridAlign="center"
        class="header__logo" src="./assets/img/logo.png" alt="Nexter logo">
    <h3 class="heading-3">Your own home:</h3>
    <h1 class="heading-1">The ultimate personal freedom</h1>
    <button
        gdGridAlign="start start"
        class="btn">View our properties</button>
    <div
        gdGap="1.5rem"
        gdAlignColumns="normal center"
        gdColumns="1fr max-content 1fr"
        class="header__seenon-text">Seen on</div>
    <div
        gdGap="3rem"
        gdAlignRows="normal center"
        gdAlignColumns="normal center"
        gdColumns="repeat(4,1fr)"
        class="header__seenon-logos">
        <img src="./assets/img/logo-bbc.png" alt="Seen on logo 1">
        <img src="./assets/img/logo-forbes.png" alt="Seen on logo 2">
        <img src="./assets/img/logo-techcrunch.png" alt="Seen on logo 3">
        <img src="./assets/img/logo-bi.png" alt="Seen on logo 4">
    </div>
</header>
