<div
        gdGap="3.5rem"
        gdColumns="repeat(2,1fr)"
        class="home">
    <img
        gdColumn="1/3"
        gdRow="1/2"
        class="home__img" src="{{path}}" alt="House 1">
    <svg
        gdGridAlign="end start"
        gdColumn="2/3"
        gdRow="1/2"
        class="home__like">
        <use xlink:href="../../../assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5
        gdRow="1/2"
        gdGridAlign="center end"
        gdColumn="1/-1"
        class="home__name">{{name}}</h5>
    <div
        fxLayoutGap="1rem"
        fxLayoutAlign="none center"
        class="home__location">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>{{location}}</p>
    </div>
    <div
        fxLayoutGap="1rem"
        fxLayoutAlign="none center"
        class="home__rooms">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>{{rooms}} rooms</p>
    </div>
    <div
        fxLayoutGap="1rem"
        fxLayoutAlign="none center"
        class="home__area">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-expand"></use>
        </svg>
        <p>{{area}} m<sup>2</sup></p>
    </div>
    <div
        fxLayoutGap="1rem"
        fxLayoutAlign="none center"
        class="home__price">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-key"></use>
        </svg>
        <p>${{price}}</p>
    </div>
    <button
        gdColumn="1/-1"
        class="btn home__btn">Contact realtor</button>
</div>
