<div class="home">
    <img class="home__img" src="../../../assets/img/house-1.jpeg" alt="House 1">
    <svg class="home__like">
        <use xlink:href="../../../assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">Beatiful Family House</h5>
    <div class="home__location">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>USA</p>
    </div>
    <div class="home__rooms">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>5 rooms</p>
    </div>
    <div class="home__area">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-expand"></use>
        </svg>
        <p>325 m<sup>2</sup></p>
    </div>
    <div class="home__price">
        <svg>
            <use xlink:href="../../../assets/img/sprite.svg#icon-key"></use>
        </svg>
        <p>$1,200,000</p>
    </div>
    <button class="cta">Contact realtor</button>
</div>
