.home {
    background-color: var(--color-grey-light-1);

    &__img {
        width: 100%;
    }

    &__like {

    }

    &__name {

    }

    &__location
    ,&__rooms
    ,&__area
    ,&__price {
        svg {
            fill: var(--color-primary);
            height: 2rem;
            widows: 2rem;
        }

        p  {

        }
    }
}
