<section fxFill gdGap="6rem" gdColumns="repeat(3,1fr)" class="features">
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-global"></use>
        </svg>
        <h4 class="heading-4">World's best luxury homes</h4>
        <p class="feature__text">Lorem iste optio quis et aliquam sapiente? Esse molestias consectetur ea asperiores aperiam! Rem sapiente minus et saepe necessitatibus. Sapiente vero deleniti quasi blanditiis inventore Ipsam veniam asperiores aperiam natus</p>
    </div>
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-trophy"></use>
        </svg>
        <h4 class="heading-4">Only the best properties</h4>
        <p class="feature__text">Dolor numquam ullam dolores repellendus voluptatum Pariatur adipisicing ipsa debitis tempore ipsam Inventore quasi laboriosam molestias doloribus nobis. Magnam neque laborum provident facilis unde. Ut aspernatur eius maxime possimus sed</p>
    </div>
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-map-pin"></use>
        </svg>
        <h4 class="heading-4">All homes in in top locations</h4>
        <p class="feature__text">Dolor consequatur perferendis vel autem obcaecati? Ullam repellendus neque optio incidunt deserunt? Ea consequatur at eaque amet nesciunt! A autem praesentium animi alias atque. Iste recusandae vel fugiat cumque tempora</p>
    </div>
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-key"></use>
        </svg>
        <h4 class="heading-4">New home in one week</h4>
        <p class="feature__text">Lorem officia voluptatem tenetur necessitatibus ex Accusamus culpa reiciendis id asperiores eum pariatur necessitatibus molestias Illo ratione fugiat cupiditate blanditiis laborum sunt? Reprehenderit iste error molestias amet explicabo eligendi? Recusandae</p>
    </div>
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-presentation"></use>
        </svg>
        <h4 class="heading-4">Top 1% realtors</h4>
        <p class="feature__text">Consectetur ea reiciendis est praesentium architecto. Consequuntur tenetur quisquam corrupti debitis consectetur. Voluptas repudiandae asperiores laudantium molestiae libero? In amet obcaecati ratione excepturi quisquam Numquam placeat quod non fugit beatae?</p>
    </div>
    <div class="feature">
        <svg>
            <use xlink:href="../../assets/img/sprite.svg#icon-lock"></use>
        </svg>
        <h4 class="heading-4">Secure payments on nexter</h4>
        <p class="feature__text">Consectetur ea reiciendis est praesentium architecto. Consequuntur tenetur quisquam corrupti debitis consectetur. Voluptas repudiandae asperiores laudantium molestiae libero? In amet obcaecati ratione excepturi quisquam Numquam placeat quod non fugit beatae?</p>
    </div>
</section>
