.feature {
    &__icon {
        fill: var(--color-primary);
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}
