@import "../../../../assets/sass/_base.scss";

.feature {
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}
